@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600');

*{  /* Para todo el documento */
	margin: 0px;
	padding: 0px;
}

body{
	background: #ffffff;
    font-family: 'Poppins', 'sans-serif';  
	max-width: 1890px;

}

p{
	margin-top: 15px;
}

hr {
	background-color: orange;
	height: 15px; /* Para que no quede un espacio en blanco */
	margin-bottom: -1px; /* Para que no quede un espacio en blanco */
	margin-top: -6.5px; /* Por qué con -1 queda distinto a como lo vimos? */
}

#header{
	margin:  0px 0px;
	width:  500px;
	position: fixed;
	z-index: 2; /* Para posicionar al elemento por arriba */
	text-align: right;
}

ul{
	list-style: none;
}


.nav li a{ /*Le aplico estilo a los vinculos en los li del nav*/
	/*Estilo para todos los vínculos del nav*/
	background-color: rgb(11, 10, 12);
	color: white;
	text-decoration: none;
	padding:  10px 15px;
	display: block;
}

.nav li a:hover{ /*con la pseudoclase hover permite cambiar un atributo cuando se pasa el mouse por encima */
	background-color: rgb(58, 58, 36);
}

.nav > li{ /*Solo los li principales pero no los submenues*/

	float: left;
}

.nav li ul{
	display:  none; /* Para que no aparezcan en display hasta que se desplieguen*/
	position: absolute;
	min-width: 140px;

}

.nav li:hover > ul /* Pseudoclase hover: aplica estilo cuando se pasa con el mouse */{
	display: block; /*Se muestan cuando paso el mouse*/
}

.nav li ul li{
	position: relative; /*Para poder afectarlo con top, bottom, right y left*/
}

.nav li ul li ul{
	right: -140px;
	top: 0px;
}

.imagen{
    z-index: 1;
	position: relative;
	margin: 0px;
}

img{
	object-fit: cover;
	min-height: 300px;
	max-width: 100%;
}

.texto{
	z-index: 1;
	position: relative;
    margin: 20px 30px 0px 30px;
	text-align: justify;
}

